@import '_vars';

*{
    margin:0;
}

body{

    height:100vh;
  
}
#imgBox{

height:600px;
width:600px;
background-image:url(../images/img.jpg);
background-size: 600px 600px;
overflow:hidden!important;
overflow:none!important;
position: absolute;
left:30%;
top:10%;
 
}

.item {

    //border-radius:50%;
    position: absolute;
  //  margin-top:-180px;
  //  margin-left:-100px;
    //mix-blend-mode:multiply;
    z-index:1000;


}



h1{
    text-align: center;
    font-family: $mainFont;
    color:white;
    margin-top:200px;
}

.blur {
    filter:blur(1px);
    opacity:0.8 ;
}

.mix1 {
    mix-blend-mode:hue;
   
}
.mix2 {
    mix-blend-mode:luminosity;
   // mix-blend-mode:hard-light;
   
}